:root{
    --mainHeaderColor: #048477;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: transparent;
  font-family: "muli-regular", sans-serif;
}
p{
  color: #565656;
}
a{
  text-decoration: none;
}

.header{
    height: 88px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: fixed;
    top: 0px;
    width: 100%;
    animation: fromtop 1s ease-in-out;
    z-index: 1;
}

.header-background{
    background: var(--mainHeaderColor);
}
.img-center{
  position: relative;
  left: 20px;
}
.header-nav-bars{
    margin: 10px;
    padding-top: 10px;
}
.header-logo{
  margin: 0.5rem;
}
.header-text{
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
    text-align:  center;
    align-self: center;
}

.header-navbar ul{
  padding: 0.8rem;
  list-style: none;
  display: flex;
  font-size: 24px;
  justify-content: center;
}
.header-navbar a{
  text-decoration:none;
  display: block;
  opacity: 0.4;
  padding: 1rem;
  color: #6CB8B0;
}
.header-navbar a:hover{
  color: white;
}

/* Main */
.main{
  z-index: -1;
  display: flex;
  margin: 2rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 8rem;
}
.main-content{
  margin: 2rem;
  line-height: 1.4;
  animation: fromleft 1s ease-in-out;
  /* position: relative;
    top: -200px; */
}
.image-1{
  animation: fromright 1s ease-in-out;
}
.text-1{
  font-size: 46px;

}
.button{
  margin-top: 2rem;
  outline: 2px solid #529AFB;
  width: 80%;
  outline-offset: 10px;
  text-align: center;
}
.button:hover{
  cursor: pointer;
}
.button a{
  color: #529AFB;
  text-decoration: none;
  font-size: 1.5rem;
}
.main-image{

  background: url("./images/iphone-app-470.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 300px;

}
/* End Main */
/* Content */
.content{
  margin:2.5rem;
  line-height: 2.5;
}
.content-ul{
  list-style-type: none;
}
.fas{
  color: green!important;
}
.fa-check::after{
  content: "";
  margin-right: 1rem;
}
.image-2,.image-3, .image-4, .image-5{
  width: 100%;
  float: left;
  margin-right: 2rem;
}
.image-3{
  float: right;
  margin-right: 0;
  margin-left: 2rem;
}
.image-6{
  width: 100%;
  float: right;
  margin-left: 2rem;
}

.line-break{
  border: 1px solid grey;
  /* width: 100%; */
  align-self: center;
  text-align: center;
  align-content: center;
  margin: 5rem;
}

/* End Content */

/*  */
.content-2{
  text-align: center;
  margin: 4rem;
}
.content-3{
  margin: 2.5rem;
  line-height: 2.5;
}
/*  */
/* Vision */
.vision{
  text-align: center;
  margin: 2.5rem;
  line-height: 2.5;
}
/* End Vision */
.faq{
  margin: 2.5rem;
  line-height: 2.5;
}
.mailto{
  text-decoration: none;
  color: #048477;
}
.footer{
  margin-top: 5rem;
  text-align: center;
  line-height: 1.5;
}
.link{
  color: #048477;
}
/* SideNav CSS */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-top: 250px;
  }
  
  .sidenav a {
    margin: 1rem;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
    /* border-bottom: 1px solid gray; */

  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 30px;
    border-bottom: none;
  }
  
  @media only screen and (max-height: 576px) {
    .sidenav {padding-top: 75px;}
    .sidenav a {font-size: 18px;}
  }

  @media only screen and (max-width: 750px) {
    .main{
      display: block;
    }
    .image-1{
      width: 100%;
      height: 350px;
      object-fit: cover;
    }

  }
/* End SideNav CSS */

@media only screen and (min-width: 750px) {
  .main-content{
    position: relative;
    top: -200px;
    margin-bottom: 5rem;
  }
  .main{
    margin-top: 5.53rem;
  }
}


@media only screen and (min-width: 985px) {
    .header-nav-bars{
        display: none;
    }
    .header-navbar{
        display: block;
    }
    .header{
      grid-template-columns: 0.1fr 0.4fr 1fr;
    }
    .main{
      justify-content: space-evenly;
    }
    .image-2,.image-3,.image-4,.image-6 {
      width: 450px;
    }
    .image-5{
      width: 350px;
    }
    
  }
  @media only screen and (max-width: 985px) {
    .header-nav-bars{
        display: block;
    }
    .header-navbar{
        display: none;
    }
  }
  @media only screen and (max-width: 1190px) {
    .header-text{
      line-height: 0.9;
    }
  }
  @media only screen and (min-width: 1658px) {
    .image-5,.image-6{
      position: relative;
      top: -60px;
    }
  }
  @media only screen and (min-width: 1920px) {
    .image-3{
      position: relative;
      top: -30px;
    }
  }

  /* Animations */
  @keyframes fromleft{
    0%{
      position: relative;
      left: -700px;
    }
    100%{
      position: relative;
      left: 0px;
    }
  }
  @keyframes fromtop{
    0%{
      /* position: relative; */
      top: -500px;
    }
    100%{
      /* position: relative; */
      top: 0px;
    }
  }
  @keyframes fromright{
    0%{
      position: relative;
      left: 500px;
    }
    100%{
      position: relative;
      left: 0px;
    }
  }